<div class="background-image">
    <%= form_with(url: search_books_path, method: :get, class: "search") do |f| %>
    <div class="search-form-control form-group">
      <%= f.text_field :query, placeholder: "Search by title or author", value: params[:query], class: "form-control string required" %>
      <%= f.button "Search", value: "submit", class: "btn btn-flat" %>
      </div>
    <% end %>
</div>

