    <div class="d-flex flex-wrap gap-3 ">
    <% @user.all_favorites.each do |favorite| %>
    <div class="text-center" style="width: 200px;">
    <i class="fa-solid fa-book-open fs-1 text-center pb-3"></i>
      <h5><strong><%= link_to favorite.favoritable.title, book_path(favorite.favoritable), class: "text-decoration-none" %></strong></h5>
      <%= link_to 'Remove', remove_from_favorites_book_path(favorite.favoritable), data: { turbo_method: :post }, class: "text-danger text-decoration-none" %>
    </div>
  <% end %>
  </div>
<div class="pagination-container">
  <% paginate @favorite_books %>
</div>
