<div class="mx-auto" style="width: 40%">
<div class="d-flex justify-content-between align-items-center">
  <h1>New book</h1>
  <%= link_to "Back to books", books_path %>
</div>

<%= render "form", book: @book %>

<br>

</div>
