    <div class="d-flex flex-wrap gap-3 ">
    <% if @books.present? %>
    <% @books.each do |book| %>
    <div class="text-center" style="width: 200px;">
    <i class="fa-solid fa-book-open fs-1 text-center pb-3"></i>
      <h5><strong><%= link_to book.title, book_path(book), class: "text-decoration-none" %></strong></h5>
      <p><%= "#{book.author.first_name} #{book.author.last_name}" %></p>
    </div>
  <% end %>
  <% else %>
    <p>No books found</p>
    <% end %>
  </div>
<div class="pagination-container">
  <%= paginate @books %>
</div>
